<footer>
  <p>&copy; 2025 Julia. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: #C9184A;
    text-align: center;
    color: #FFF0F3;
    height: 25px;
    bottom: 0;
    width: 100%;
  }    
</style>